/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

/* Configuration */

:root {
  /* Colors */
  --background-color: #fff;
  --text-color: #333;
  --link-color: orange;

  /* Page Width */
  --page-width: 750px;
}

/* Utility classes */

.container {
  max-width: var(--page-width);
  padding: 0 1rem;
  margin: 0 auto;
}

/* Main layout */

* {
  box-sizing: inherit;
}
html,
body {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font: 16px/1.5 "Noto Sans";

  padding-top: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-weight: bold;
  color: inherit;
}
