---
layout: page
---

<section class="intro">
  Hello, I'm
  <strong>Hendrik Mans</strong>, an application and game developer from Germany. My preferred tools, in no particular order, are
  <strong>TypeScript</strong>,
  <strong>Ruby</strong>,
  <strong>React</strong>,
  <strong>C#</strong>,
  <strong>Unity</strong>. I
  <a href="/things/">build my own things</a>, but you can also
  <a href="/hire/">hire me to build yours</a>.
</section>

{% for post in collections.posts | reverse %}
  {% if not post.data.draft %}
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    {{ post.date.toDateString()  }}
  {% endif %}
{% endfor %}
